<p id="notice"><%= notice %></p>

<center><h1>Visits</h1></center>

<table>
  <thead>
    <tr>
      <th>Ip</th>
      <th colspan="2"></th>
      <th>Client</th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.ip %></td>
        <td colspan="2"></td>
        <td><%= visit.client %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
