<p id="notice"><%= notice %></p>

<h1>Visits</h1>

<table>
  <thead>
    <tr>
      <th>Ip</th>
      <th>Country</th>
      <th>Client</th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.ip %></td>
        <td><%= visit.country %></td>
        <td><%= visit.client %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
